In [16]:
#In this guide we will filter the content from the CSV file

import pandas as pd

#to read the CSV file

stats = pd.read_csv('/home/flippercode/Documents/python-learning/include/demographic.csv')

In [44]:
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.90000,High income
1,Afghanistan,AFG,35.253,5.90000,Low income
2,Angola,AGO,45.985,19.10000,Upper middle income
3,Albania,ALB,12.877,57.20000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.00000,High income
5,Argentina,ARG,17.716,59.90000,High income
6,Armenia,ARM,13.308,41.90000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.40000,High income
8,Australia,AUS,13.200,83.00000,High income
9,Austria,AUT,9.400,80.61880,High income
10,Azerbaijan,AZE,18.300,58.70000,Upper middle income
11,Burundi,BDI,44.151,1.30000,Low income
12,Belgium,BEL,11.200,82.17020,High income
13,Benin,BEN,36.440,4.90000,Low income
14,Burkina Faso,BFA,40.551,9.10000,Low income
15,Bangladesh,BGD,20.142,6.63000,Lower middle income
16,Bulgaria,BGR,9.200,53.06150,Upper middle income
17,Bahrain,BHR,15.040,90.00004,High income
18,"Bahamas, The",BHS,15.339,72.00000,High income
19,Bosnia and Herzegovina,BIH,9.062,57.79000,Upper middle income
20,Belarus,BLR,12.500,54.17000,Upper middle income
21,Belize,BLZ,23.092,33.60000,Upper middle income
22,Bermuda,BMU,10.400,95.30000,High income
23,Bolivia,BOL,24.236,36.94000,Lower middle income
24,Brazil,BRA,14.931,51.04000,Upper middle income
25,Barbados,BRB,12.188,73.00000,High income
26,Brunei Darussalam,BRN,16.405,64.50000,High income
27,Bhutan,BTN,18.134,29.90000,Lower middle income
28,Botswana,BWA,25.267,15.00000,Upper middle income
29,Central African Republic,CAF,34.076,3.50000,Low income
...,...,...,...,...,...
165,Seychelles,SYC,18.600,50.40000,High income
166,Syrian Arab Republic,SYR,24.043,26.20000,Lower middle income
167,Chad,TCD,45.745,2.30000,Low income
168,Togo,TGO,36.080,4.50000,Low income
169,Thailand,THA,11.041,28.94000,Upper middle income
170,Tajikistan,TJK,30.792,16.00000,Lower middle income
171,Turkmenistan,TKM,21.322,9.60000,Upper middle income
172,Timor-Leste,TLS,35.755,1.10000,Lower middle income
173,Tonga,TON,25.409,35.00000,Upper middle income
174,Trinidad and Tobago,TTO,14.590,63.80000,High income
175,Tunisia,TUN,19.800,43.80000,Upper middle income
176,Turkey,TUR,16.836,46.25000,Upper middle income
177,Tanzania,TZA,39.518,4.40000,Low income
178,Uganda,UGA,43.474,16.20000,Low income
179,Ukraine,UKR,11.100,41.00000,Lower middle income
180,Uruguay,URY,14.374,57.69000,High income
181,United States,USA,12.500,84.20000,High income
182,Uzbekistan,UZB,22.500,38.20000,Lower middle income
183,St. Vincent and the Grenadines,VCT,16.306,52.00000,Upper middle income
184,"Venezuela, RB",VEN,19.842,54.90000,High income
185,Virgin Islands (U.S.),VIR,10.700,45.30000,High income
186,Vietnam,VNM,15.537,43.90000,Lower middle income
187,Vanuatu,VUT,26.739,11.30000,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.60000,Lower middle income
189,Samoa,WSM,26.172,15.30000,Lower middle income
190,"Yemen, Rep.",YEM,32.947,20.00000,Lower middle income
191,South Africa,ZAF,20.850,46.50000,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.20000,Low income
193,Zambia,ZMB,40.471,15.40000,Lower middle income
194,Zimbabwe,ZWE,35.715,18.50000,Low income

In [46]:
#Filteration of Low Income countries
low_income = stats.IncomeGroup == 'Low income'
stats[low_income]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
1,Afghanistan,AFG,35.253,5.90,Low income
11,Burundi,BDI,44.151,1.30,Low income
13,Benin,BEN,36.440,4.90,Low income
14,Burkina Faso,BFA,40.551,9.10,Low income
29,Central African Republic,CAF,34.076,3.50,Low income
38,Comoros,COM,34.326,6.50,Low income
52,Eritrea,ERI,34.800,0.90,Low income
55,Ethiopia,ETH,32.925,1.90,Low income
64,Guinea,GIN,37.337,1.60,Low income
65,"Gambia, The",GMB,42.525,14.00,Low income
66,Guinea-Bissau,GNB,37.503,3.10,Low income
77,Haiti,HTI,25.345,10.60,Low income
93,Cambodia,KHM,24.462,6.80,Low income
99,Liberia,LBR,35.521,3.20,Low income
111,Madagascar,MDG,34.686,3.00,Low income
115,Mali,MLI,44.138,3.50,Low income
120,Mozambique,MOZ,39.705,5.40,Low income
123,Malawi,MWI,39.459,5.05,Low income
127,Niger,NER,49.661,1.70,Low income
132,Nepal,NPL,20.923,13.30,Low income
148,Rwanda,RWA,32.689,9.00,Low income
154,Sierra Leone,SLE,36.729,1.70,Low income
156,Somalia,SOM,43.891,1.50,Low income
158,South Sudan,SSD,37.126,14.10,Low income
167,Chad,TCD,45.745,2.30,Low income
168,Togo,TGO,36.080,4.50,Low income
177,Tanzania,TZA,39.518,4.40,Low income
178,Uganda,UGA,43.474,16.20,Low income
192,"Congo, Dem. Rep.",COD,42.394,2.20,Low income
194,Zimbabwe,ZWE,35.715,18.50,Low income

In [47]:
#Filteration of High income countries
high_income = stats.IncomeGroup == 'High income'
stats[high_income]

               CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup
0                    Aruba         ABW     10.244       78.90000  High income
4     United Arab Emirates         ARE     11.044       88.00000  High income
5                Argentina         ARG     17.716       59.90000  High income
7      Antigua and Barbuda         ATG     16.447       63.40000  High income
8                Australia         AUS     13.200       83.00000  High income
9                  Austria         AUT      9.400       80.61880  High income
12                 Belgium         BEL     11.200       82.17020  High income
17                 Bahrain         BHR     15.040       90.00004  High income
18            Bahamas, The         BHS     15.339       72.00000  High income
22                 Bermuda         BMU     10.400       95.30000  High income
25                Barbados         BRB     12.188       73.00000  High income
26       Brunei Darussalam         BRN     16.405       64.50000  High income
30                  Canada         CAN     10.900       85.80000  High income
31             Switzerland         CHE     10.200       86.34000  High income
32                   Chile         CHL     13.385       66.50000  High income
42          Cayman Islands         CYM     12.500       74.10000  High income
43                  Cyprus         CYP     11.436       65.45480  High income
44          Czech Republic         CZE     10.200       74.11040  High income
45                 Germany         DEU      8.500       84.17000  High income
47                 Denmark         DNK     10.000       94.62970  High income
53                   Spain         ESP      9.100       71.63500  High income
54                 Estonia         EST     10.300       79.40000  High income
56                 Finland         FIN     10.700       91.51440  High income
58                  France         FRA     12.300       81.91980  High income
61          United Kingdom         GBR     12.200       89.84410  High income
67       Equatorial Guinea         GNQ     35.362       16.40000  High income
68                  Greece         GRC      8.500       59.86630  High income
70               Greenland         GRL     14.500       65.80000  High income
72                    Guam         GUM     17.389       65.40000  High income
74    Hong Kong SAR, China         HKG      7.900       74.20000  High income
..                     ...         ...        ...            ...          ...
95             Korea, Rep.         KOR      8.600       84.77000  High income
96                  Kuwait         KWT     20.575       75.46000  High income
102          Liechtenstein         LIE      9.200       93.80000  High income
105              Lithuania         LTU     10.100       68.45290  High income
106             Luxembourg         LUX     11.300       93.77650  High income
107                 Latvia         LVA     10.200       75.23440  High income
108       Macao SAR, China         MAC     11.256       65.80000  High income
116                  Malta         MLT      9.500       68.91380  High income
126          New Caledonia         NCL     17.000       66.00000  High income
130            Netherlands         NLD     10.200       93.95640  High income
131                 Norway         NOR     11.600       95.05340  High income
133            New Zealand         NZL     13.120       82.78000  High income
134                   Oman         OMN     20.419       66.45000  High income
140                 Poland         POL      9.600       62.84920  High income
141            Puerto Rico         PRI     10.800       73.90000  High income
142               Portugal         PRT      7.900       62.09560  High income
144       French Polynesia         PYF     16.393       56.80000  High income
145                  Qatar         QAT     11.940       85.30000  High income
147     Russian Federation         RUS     13.200       67.97000  High income
149           Saudi Arabia         SAU     20.576       60.50000  High income
152              Singapore         SGP      9.300       81.00000  High income
161        Slovak Republic         SVK     10.100       77.88260  High income
162               Slovenia         SVN     10.200       72.67560  High income
163                 Sweden         SWE     11.800       94.78360  High income
165             Seychelles         SYC     18.600       50.40000  High income
174    Trinidad and Tobago         TTO     14.590       63.80000  High income
180                Uruguay         URY     14.374       57.69000  High income
181          United States         USA     12.500       84.20000  High income
184          Venezuela, RB         VEN     19.842       54.90000  High income
185  Virgin Islands (U.S.)         VIR     10.700       45.30000  High income

[67 rows x 5 columns]

In [48]:
#Filteration of Countries which have less than 3 internet users

less_internet = stats.InternetUsers < 3
stats[less_internet]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
11,Burundi,BDI,44.151,1.3,Low income
52,Eritrea,ERI,34.800,0.9,Low income
55,Ethiopia,ETH,32.925,1.9,Low income
64,Guinea,GIN,37.337,1.6,Low income
117,Myanmar,MMR,18.119,1.6,Lower middle income
127,Niger,NER,49.661,1.7,Low income
154,Sierra Leone,SLE,36.729,1.7,Low income
156,Somalia,SOM,43.891,1.5,Low income
167,Chad,TCD,45.745,2.3,Low income
172,Timor-Leste,TLS,35.755,1.1,Lower middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income

In [54]:
#Filteration of Countries which have birth rate greater than 40
birth_rate = stats.BirthRate > 45
stats[birth_rate]

    CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
2        Angola         AGO     45.985           19.1  Upper middle income
127       Niger         NER     49.661            1.7           Low income
167        Chad         TCD     45.745            2.3           Low income

In [58]:
#filteration to get india

get_india= stats.CountryName == 'India'
stats[get_india]

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
80       India         IND     20.291           15.1  Lower middle income

In [61]:
#if we need to filter the country where Birth rate is greater than 40 and internet user is less than 3

stats[(stats.BirthRate > 40) & (stats.InternetUsers < 3)]

          CountryName CountryCode  BirthRate  InternetUsers IncomeGroup
11            Burundi         BDI     44.151            1.3  Low income
127             Niger         NER     49.661            1.7  Low income
156           Somalia         SOM     43.891            1.5  Low income
167              Chad         TCD     45.745            2.3  Low income
192  Congo, Dem. Rep.         COD     42.394            2.2  Low income